@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

// colors

$white: rgb(255, 255, 255);
$black: #000000;
$orangered: #FF8080;
$gray: #d4d3dd;
$orangereddark: #FD5D5D;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $orangereddark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  .background {
    background:
      url('https://i.pinimg.com/originals/cd/57/2f/cd572f433d672fd34eb2527aa60fb81b.jpg') no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
    -webkit-filter: blur(15px);
  }

}